.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

button {
    border-radius: 8px;
    position: absolute;
    left: 1000px;
    top: 60px;
}
